body {
    background-color: black
}

.container {
    margin: 250px auto;
    width: 700px;
    height: 400px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.sol {
    width: 100px;
    height: 100px;
    background-color: rgb(241, 212, 45);
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    right: 150px;
    animation:
    move 6s linear
}

@keyframes move {
    0%{
        bottom: 100px;
    }50% {
        bottom: 450px;
    }100% {
        bottom: 100px;
    }
}
   
.montañas {
    position: absolute;
    z-index: 6;
}

.nube {
    position: absolute;
    z-index: 1;
}

/* {} */
.uno {
/* animation:
nube1 8.5s linear */ ;
}

    @keyframes nube1 {
    to {
      transform: translateX(700px);
    }
  }

  
.dos {
animation:
nube2 8.5s linear ;
}
    
 @keyframes nube2 {
    to {
        transform: translateX(700px);
     }
    }



.tres {
    animation:
    nube3 8.5s linear ;
    }
            
    @keyframes nube3 {
     to {
        transform: translateX(-700px);
     }
    }
        
        
        
