body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: rgb(163, 163, 163);
}

:first-letter {
    text-transform: capitalize;
}
 
.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-color: rgb(168, 182, 176);
    width: 100%;
    max-width: 350px;
} 

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: rgb(226, 226, 226);
}

input :focus {
    outline: none;
}

.addTaskButton,
.deleteButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius:50%;
    font-size: 18px;
    background-color: rgb(59, 161, 156);
    border: none;
    color: white;
}

.deleteButton {
    background-color:rgb(59, 161, 156);
    color: white;
}

.task {
    background-color:rgb(189, 206, 157);
    padding: 15px;
    margin-top: 15px;
    color: white;
    cursor: pointer;
}

.done {
    background-color: grey;
    text-decoration: line-through;
    color: rgb(255, 255, 255);
}