body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #ffffff;
    color: white;
}

img {
    height: 70px;
}

.nav {
    display: flex;
    align-items: center;
}

.inicio-sesion {
    background-color: #6497A8;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
}

.registro {
    background-color: #6497A8;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
}

.modulos {
    background-color: #6497A8;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
}

button:hover {
    background-color: #637a81;
}

.desplegable {
    position: relative;
}

.menu-desplegable {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #6497A8;
    border: 1px solid #637a81;
    z-index: 1000;
    border-radius: 6px;
}

.menu-desplegable  a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.menu-desplegable a:hover {
    background-color: #637a81;
}

.modulos:focus + .menu-desplegable ,
.menu-desplegable :hover {
    display: block;
}
